*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background: seagreen;

}
.input-box{
    width: 420px;
    background: rgb(79, 171, 54);
    color: #fff
}
.input-box h1{
    font-size: 36px;
    text-align: center;
}